@import "./colors/graphite-dark.css";

* {
  all: unset;
  font-family: "Iosevka Nerd Font", monospace;
}

window#waybar {
  background-color: transparent;
  color: @fg0;
}

window#waybar > box {
  background-color: @bg0;
  border: 2px solid @fg0;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

#workspaces {
  min-width: 100px;
  font-size: 0.4rem;
  padding: 2px 4px;
  margin: 11px 0;
  border-radius: 99px;
}
#workspaces button {
  background-color: @bg4;
  color: transparent;
  padding: 0 5px;
  border-radius: 99px;
  margin: 0 2px;
  min-width: 4px;
}

#workspaces button.active {
  background-color: @active;
  min-width: 1.2rem;
  transition: none;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#clock {
  margin: 0 10px 0 0;
  font-weight: 500;
}

#pulseaudio.muted {
  padding: 0 5px;
}

#cava {
  margin: 0 15px 0 10px;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#custom-mic {
  margin: 0px 15px 0px 0;
}

#custom-mic.muted {
  color: @grey0;
}

#backlight {
  margin: 0 15px 0 0;
  min-height: 1rem;
}

#network {
  margin: 0 17px 0 0;
}

#custom-bluetooth {
  margin: 0 15px 0 0;
}

#custom-swaync {
  margin: 0 15px 0 0;
  font-size: 1rem;
}

#custom-swaync.has-notifications {
  margin: 0 10px 0 0;
}

#custom-swaync.empty {
  color: @grey0;
}

#custom-vpn {
  margin: 0 15px 0 0;
}

#custom-vpn.disconnected {
  color: @grey0;
}

tooltip {
  background-color: @bg0;
  border: 2px solid @bg1;
  border-radius: 8px;
}

tooltip label {
  color: @fg0;
  padding: 5px 5px 5px 5px;
}
